.menu-icon-bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
}

.navbar-toggler {
  margin-right: 2%;
  border: none;
}
.navbar-toggler-collapsed {
  margin-right: 5%;
  border: none;
}

.open {
  margin-right: 5%;
  background-color: rgb(24, 210, 110);
}

.open:nth-child(1) {
  transform: rotate(45deg) translate(4px, 7px);
}

.open:nth-child(2) {
  opacity: 0;
}

.open:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -7px);
}

.navbar-collapse.show .ml-auto {
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.navbar-nav {
  margin: 10px;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-nav .nav-item {
  margin-right: 5%;
}

.navbar a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.navbar a:hover {
  color: rgb(255, 255, 255);
}
.navbar a:active,
.navbar a:focus {
  color: rgba(255, 255, 255, 0.7);
}

.navbar a::before {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 5%;
  width: 0%;
  height: 2px;
  background-color: rgb(24, 210, 110);
  transition: width 0.3s ease-out;
  // margin-left: 5%;
  margin-top: 0;
  border-radius: 10px;
}

.navbar a:hover::before {
  width: 50%;
}

@media only screen and (max-width: 992px) {
  .navbar {
    margin-right: 10%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  .navbar a:hover:after {
    visibility: hidden;
    transform: scaleX(0);
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
  #responsive-navbar-nav {
    background-color: rgba(0, 0, 0, 0.9);
    margin-left: 50%;
    padding-right: 5%;
    border-radius: 10% 0 0 80%;
  }
}
