.project-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
}
.image-portfolios {
  height: 100%;
}
.image-portfolio {
  height: 50vh;
}
// .img-fluid {
//   max-width: 100%;
//   height: 50vh;
// }
@media (max-width: 992px) {
  .anonymous-portfolio {
    margin-top: 30%;
  }
  // .img-fluid {
  //   max-width: 100%;
  //   height: 50vh;
  // }
}
