.main-projects {
  overflow: hidden;
}

.project-wrapper {
  background-color: rgba(255, 255, 255, 0.05);
}
.image-portfolios {
  height: 100%;
}
.image-portfolio {
  height: 50vh;
}

@media (max-width: 992px) {
  .anonymous-portfolio {
    margin-top: 30%;
  }
}
