body {
  margin: auto;
  font-family: 'Helvetica', sans-serif;
  background-image: url('../assets/images/sep09.jpg');
  height: 100%;
  background-position: fixed;
  p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: rgb(255, 255, 255);
  }
}
@media (max-width: 995px) {
  #jonaseriksson {
    color: rgb(255, 255, 255);
  }
  h1 {
    color: rgb(255, 255, 255);
  }
  h2 {
    color: rgb(255, 255, 255);
  }
}
