@import '../scss/variables.scss';

body {
  margin: auto;
  font-family: 'Helvetica', sans-serif;
  height: 100%;
  overflow-x: hidden;
  background-color: $primaryBlack;

  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: $primaryWhite;
  }
}

h1 {
  color: $primaryWhite;
}
h2 {
  color: $primaryWhite;
}
